.fancy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #00A6D9;
    text-align: center;
}

.fancy:after {
    content: '';
    height: 8px;
    flex: 1;
    border-top: 4px solid #00A6D9;
    border-bottom: 4px solid #00A6D9;
    border-radius: 4px;
    margin-left: 0.5em;
}

.chart-legend li span.square {
    display: inline-block;
    padding-left: 0.5em;
    width: 12px;
    height: 12px;
}

.chart-legend li span:not(.square) {
    color: #666666;
    padding-left: 0.5em;
}

.bubble {
    background-color: #00A6D9;
    height: 2em;
    width: 2em;
    border-radius: 1em;
    display: inline-block;
    margin-right: 0.5em;
}

.bubble > i {
    margin-top: 14px;
    font-size: 120%;
    color: #FFFFFF;
    display: block;
}

.min-chart {
    margin-top: 0;
    margin-bottom: 0;
}

.map {
    height: 15em;
    display: block;
    width: 100%;
    border-radius: .3rem;
}

.awesome-marker:hover {
    z-index: 9999 !important;
    top: -2px !important;
    padding-bottom: 2px !important;
}

.card.testimonial-card .card-up img {
    margin-top: -12%;
    width: 100%;
    display: block;
}

.testimonial-card .card-up {
    height: 240px;
}

.card.testimonial-card .avatar {
    text-align: center;
}

.card.testimonial-card .avatar i {
    margin-top: 9px;
    margin-left: 5px;
    font-size: 400%;
    color: #FFFFFF;
    display: block;
}

.page-footer {
    background-color: #00A6D9;
}

.leaflet-left .leaflet-control {
    margin-left: 0;
    margin-top: 0;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    border: 0;
}

.map {
    height: calc(411px + 6rem);
}

.leaflet-popup-content {
    margin: 0;
}

.leaflet-popup-content-wrapper {
    overflow: hidden;
}

.popup-content {
    margin: 13px 19px;
}

.leaflet-container a.leaflet-popup-close-button:hover,
.leaflet-container a.leaflet-popup-close-button {
    height: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    border-radius: 10px;
    width: 20px;
    padding-right: 0;
    padding-top: 2.5px;
    margin: 5px;
}

@media screen and (max-width: 991px) {
    .fa-5x {
        font-size: 200%;
    }
    h1.fancy {
        font-size: 1.5rem;
    }
    .bubble > i {
        margin-top: 8px;
    }
    .detailsContainer .clearfix {
        display: none;
    }
    .map {
        margin-top: 1.5rem;
    }
}