.fancy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #00A6D9;
}

.fancy:before {
    content: '';
    height: 8px;
    flex: 1;
    border-top: 1px solid #00A6D9;
    border-bottom: 5px solid #00A6D9;
    margin-right: 0.5em;
}

.chart-legend li span.square {
    display: inline-block;
    padding-left: 0.5em;
    width: 12px;
    height: 12px;
}

.chart-legend li span:not(.square) {
    color: #666666;
    padding-left: 0.5em;
}

.bubble {
    background-color: #00A6D9;
    height: 2em;
    width: 2em;
    border-radius: 1em;
    display: inline-block;
    margin-left: 0.5em;
}

.bubble > i {
    margin-top: 14px;
    margin-left: 7px;
    font-size: 120%;
    color: #FFFFFF;
    display: block;
}

.min-chart {
    margin-top: 0;
    margin-bottom: 0;
}

.map {
    height: 15em;
    display: block;
    width: 100%;
    border-radius: .3rem;
}

.awesome-marker:hover {
    z-index: 9999 !important;
    top: -2px !important;
    padding-bottom: 2px !important;
}

.card.testimonial-card .card-up img {
    margin-top: -12%;
    width: 100%;
    display: block;
}

.testimonial-card .card-up {
    height: 240px;
}

.card.testimonial-card .avatar {
    text-align: center;
}

.card.testimonial-card .avatar i {
    margin-top: 9px;
    margin-left: 5px;
    font-size: 400%;
    color: #FFFFFF;
    display: block;
}

.page-footer {
    background-color: #00A6D9;
}

.leaflet-left .leaflet-control {
    margin-left: 0;
    margin-top: 0;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    border: 0;
}